[submodule "integration-tests/checkstyle"]
	path = integration-tests/checkstyle
	url = git@github.com:checkstyle/checkstyle.git
[submodule "integration-tests/guava"]
	path = integration-tests/guava
	url = https://github.com/google/guava
[submodule "integration-tests/metrics"]
	path = integration-tests/metrics
	url = https://github.com/dropwizard/metrics
