---
dist: bionic
language: java
jdk: openjdk11
addons:
  sonarcloud:
    organization: picnic-technologies
    token: "${SONARCLOUD_TOKEN}"
install:
  - mvn io.takari:maven:wrapper
script:
  # We run the build twice: once against the original Error Prone release,
  # using only Error Prone checks available on Maven Central, and once against
  # the Picnic Error Prone fork, additionally enabling Error Prone checks
  # available from other artifact repositories.
  - ./mvnw clean install
  - ./mvnw clean install -Perror-prone-fork -Pnon-maven-central -s settings.xml
  # XXX: Enable SonarCloud once we "go public".
  # ./mvnw jacoco:prepare-agent surefire:test jacoco:report sonar:sonar
  - ./mvnw jacoco:prepare-agent surefire:test jacoco:report
before_cache:
  # Don't cache the artifacts we just generated, for multiple reasons: (1) we
  # shouldn't need them next time around and (2) if we do, that indicates a
  # dependency issue which might otherwise go unnoticed until next time we bump
  # the project's version (i.e., when tagging).
  - find "${HOME}/.m2/repository" -depth -name '*-SNAPSHOT' -exec rm -r '{}' \;
cache:
  directories:
    # The local Maven repository in which third party dependencies are stored.
    - ${HOME}/.m2/repository
    # The Takari Maven Wrapper's storage for downloaded Maven distributions.
    - ${HOME}/.m2/wrapper
    # The SonarQube analysis cache.
    - ${HOME}/.sonar/cache
# XXX: Enable Codecov once we "go public".
#after_success:
#  - bash <(curl -s https://codecov.io/bash)
