<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <!-- The build defines an optional `error-prone-fork` profile using
            which the code is built against a Picnic-managed fork of Error
            Prone. This fork is hosted by Jitpack.io. See
            https://jitpack.io/#PicnicSupermarket/error-prone. -->
            <id>error-prone-fork</id>
            <repositories>
                <repository>
                    <id>jitpack.io</id>
                    <url>https://jitpack.io</url>
                </repository>
            </repositories>
        </profile>
        <profile>
            <!-- The build defines an optional `non-maven-central` profile
            using which additional Error Prone checks not available on Maven
            Central are enabled. -->
            <id>non-maven-central</id>
            <repositories>
                <repository>
                    <id>jitpack.io</id>
                    <url>https://jitpack.io</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
