// We should override $nav-width(-md), however this breaks code highlighting and other styles.
// This seems to be an issue for following the recommended approach.
// See https://github.com/just-the-docs/just-the-docs/issues/982.
@include mq(lg) {
    .side-bar {
        min-width: 400px;
    }

    .site-nav, .site-header {
        width: 400px;
    }
}

// Add support for external anchor icons.
.external > svg {
    width: 1rem;
    vertical-align: text-bottom;
}

footer > img#logo {
    width: 2rem;
    margin: 0 auto;
    display: block;
}
