// XXX: We should override `$nav-width(-md)`, but this breaks code highlighting
// and other styles. See
// https://github.com/just-the-docs/just-the-docs/issues/982.
// Once the fix for the above issue is released, replace this section with the
// approach recommended at
// https://just-the-docs.github.io/just-the-docs/docs/customization/#custom-schemes.
@include mq(lg) {
    .side-bar {
        min-width: 400px;
    }

    .site-nav, .site-header {
        width: 400px;
    }
}

// Add support for external anchor icons.
.external > svg {
    width: 1rem;
    vertical-align: text-bottom;
}

// Center and shrink the footer logo.
footer > img#logo {
    width: 2rem;
    margin: 0 auto;
    display: block;
}
