name: Build and verify
on:
  pull_request:
  push:
    branches: [ master ]
permissions:
  contents: read
jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
        jdk: [ 11.0.19, 17.0.7, 20.0.1 ]
        distribution: [ temurin ]
        experimental: [ false ]
        include:
          - os: macos-12
            jdk: 17.0.7
            distribution: temurin
            experimental: false
          - os: windows-2022
            jdk: 17.0.7
            distribution: temurin
            experimental: false
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      # We run the build twice for each supported JDK: once against the
      # original Error Prone release, using only Error Prone checks available
      # on Maven Central, and once against the Picnic Error Prone fork,
      # additionally enabling all checks defined in this project and any Error
      # Prone checks available only from other artifact repositories.
      - name: Check out code
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          persist-credentials: false
      - name: Set up JDK
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          java-version: ${{ matrix.jdk }}
          distribution: ${{ matrix.distribution }}
          cache: maven
      - name: Display build environment details
        run: mvn --version
      - name: Build project against vanilla Error Prone, compile Javadoc
        run: mvn -T1C install javadoc:jar
      - name: Build project with self-check against Error Prone fork
        run: mvn -T1C clean verify -Perror-prone-fork -Pnon-maven-central -Pself-check -s settings.xml
      - name: Remove installed project artifacts
        run: mvn build-helper:remove-project-artifact

# XXX: Enable Codecov once we "go public".
