# Performs mutation testing analysis on the files changed by a pull request and
# uploads the results. The associated PR is subsequently updated by the
# `pitest-update-pr.yml` workflow. See https://blog.pitest.org/oss-pitest-pr/
# for details.
name: Mutation testing
on:
  pull_request:
permissions:
  contents: read
env:
  MAVEN_ARGS: --batch-mode -Dstyle.color=always -T1C
jobs:
  analyze-pr:
    runs-on: ubuntu-24.04
    steps:
      - name: Install Harden-Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptium.net:443
            github.com:443
            hosted-compute-watchdog-prod-*.githubapp.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            repo.maven.apache.org:443
      - name: Check out code and set up JDK and Maven
        uses: s4u/setup-maven-action@6c4e9964d4ecb8f1026310cd8618791fd51a8016 # v1.19.0
        with:
          checkout-fetch-depth: 2
          java-version: 25
          java-distribution: temurin
          maven-version: 3.9.12
      - name: Run Pitest
        # By running with features `+GIT(from[HEAD~1]), +gitci`, Pitest only
        # analyzes lines changed in the associated pull request, as GitHub
        # exposes the changes unique to the PR as a single commit on top of the
        # target branch. See https://blog.pitest.org/pitest-pr-setup for
        # details.
        run: mvn test pitest:mutationCoverage -DargLine.xmx=2048m -Dverification.skip -Dfeatures="+GIT(from[HEAD~1]), +gitci"
      - name: Aggregate Pitest reports
        run: mvn pitest-git:aggregate -DkilledEmoji=":tada:" -DmutantEmoji=":zombie:" -DtrailingText="Mutation testing report by [Pitest](https://pitest.org/). Review any surviving mutants by inspecting the line comments under [_Files changed_](${{ github.event.number }}/files)."
      - name: Upload Pitest reports as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pitest-reports
          path: ./target/pit-reports-ci
